[core]
	excludesfile = /Users/clayman/.gitignore_global
	pager = cat

[pager]
  branch = false

[credential]
  helper = osxkeychain

[submodule]
  recurse = true
  fetchJobs = 0

[user]
	name = Kirill Sumorokov
	email = sumorokov.k@gmail.com

# Colors
[color]
  ui = true

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = white bold 52
  newNormal = green bold
  newHighlight = white bold 22

[color "diff"]
  meta = black
  frag = blue bold
  commit = black bold
  old = red bold
  new = green bold
  whitespace = red reverse

[init]
  defaultBranch = master
[pull]
  rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/clayman/.stCommitMsg
